/* You can add global styles to this file, and also import other style files */

@import "tailwindcss";

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: 'Courier New', monospace;
  background: #000;
}

app-root {
  min-height: 100vh;
  display: block;
}

input:focus {
  outline: none;
}

body {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  overflow-x: auto;
}