/* You can add global styles to this file, and also import other style files */

@import "tailwindcss";

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: sans-serif;
}
#root {
  height: 100vh;
}

.terminal {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  font-family: monospace; 
  line-height: 1.5;
}
input:focus {
  outline: none;
}